.ReturnLogin{
  display: flex;
  position: absolute;
  top: 3%;
  left: 3%;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--colorPrimaryBlue);
  cursor: pointer;
  gap: 5px;
}

.ReturnLogin:hover{
  transform: scale(1.02);
}

.buttonReturnLogin{
  font-size: 1.2em;
}

form{
  & .pInformErro{
    display: none;
    position: absolute;
    margin-top: 10%;
    margin-left: -50%;
    font-size: .9em;
    font-weight: bold;
    color: red;
  }
  & .pInvalidCod{
    display: none;
    position: absolute;
    margin-top: 30%;
    font-size: .9em;
    font-weight: bold;
    color: red;
  }
  .pNewPassword{
    display: none;
    position: absolute;
    margin-top: 21%;
    margin-left: -38%;
    font-size: .8em;
    font-weight: bold;
    color: red;
  }
  & p{
    margin: 0px 0px -4% 0%;
  }
  & .divNumberCod{
    gap: 10px;
    margin-top: 10px;

    & input{
      border: none;
      font-size: 2em;
      height: 60px;
      width: 30px;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
  }

  & .contentDivsNewPassword{
    display: flex;
    flex-direction: column;
    width: 100px;
    gap: 20px;
  
    & .NewPasswordNew{
      display: flex;
  
      & input{
        height: 40px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.50);
        border: none;
        width: 70%;
      }
    }
  
    .NewPasswordConfirm{
      display: flex;
  
      & input{
        height: 40px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.50);
        border: none;
        width: 70%;
      }
    }
  }
}

.eyePasswordNewPas{
  display: flex;
  position: absolute;
  right: 16%;
  cursor: pointer;
}

.eyePasswordNewPas:hover{
  color: rgba(0, 0, 0, 0.8);
}

.eyePasswordConfi{
  display: flex;
  position: absolute;
  right: 16%;
  cursor: pointer;
}

.eyePasswordConfi:hover{
  color: rgba(0, 0, 0, 0.8);
}
